<!--@book_show = Book.find(params[:id])-->
<div class="row">
  <!--@user = User.find(current_user.id)-->
  <!--@book_new = Book.new()-->
  <%= render 'users/kyoutu', user: @book_show.user, book: @book_new %>
  <div class="col-xs-9">
    <% if !@comment.nil? %>
      <% if @comment.errors.any? %>
        <div style="color: red">
          <%= @comment.errors.count %>errors prohibited this obj from being saved:<br>
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%=link_to user_path(@book_show.user) do %>
            <%= attachment_image_tag @book_show.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg"%>
            <br>
            <%= @book_show.user.name %>
            <% end %>
          </td>
          <td><%= @book_show.title %></td>
          <td><%= @book_show.body %></td>
          <td>
            <div id="favorite_buttons_<%= @book_show.id %>">
              <%= render partial: 'favorites/favorite', locals: { book: @book_show} %>
            </div>
          </td>
          <td>
            <ul class="inline-meta">
              コメント数：
              <%= @book_show.book_comments.count %>
            </ul>
          </td>
          <% if @book_show.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book_show), class: "btn btn-success"%></td>
            <td><%= link_to "Destroy", book_path(@book_show), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <div id="comments_buttons">
      <%= render partial: 'book_comments/comments', locals: { comment: @book_comment,book_show: @book_show} %>
    </div>

  </div>



</div>
